/* Checkout.css */
.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px;
}

.order-summary {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-summary table {
    width: 100%;
    border-collapse: collapse;
}

.order-summary th,
.order-summary td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.order-summary th {
    background-color: #f5f5f5;
}

.checkout-form {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.payment-options {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.pay-now-button {
    text-align: center;
    margin-bottom: 60px;
}

.pay-now-button button {
    background-color: #f5c710;
    color: #000;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
    width: 70%;
}

.pay-now-button button:hover {
    background-color: #e0c843;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}



@import './ModalComponent.css';